    <!-- these two lines are required for Select Modal view-->
<div *ngIf="modal === 'true'" class="modal fade" [ngStyle]="{'display': modalDisplay}"></div>
<div class={{modalClass}} tabindex="-1" role="dialog" [ngStyle]="{'display': allDisplay}">

    <div class="container">
        <form [formGroup]="form" (ngSubmit)="save()">
            <accordion (outputButtonPreviousOnClick)="outputButtonAccordionPreviousOnClick($event)"
                       (outputButtonNextOnClick)="outputButtonAccordionNextOnClick($event)"
                       [InputTitle]=[user.recordDescription]
                       [InputKeepOpenMode]="false"
                       [InputOpenGroup]="1">

                <label></label>
                <accordion-group heading="Details ">

                    <fieldset [disabled]="(action === 'view' || action === 'delete')">

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label>User Status</label>
                                <div class="input-group m-b-1">
                                    <div class="btn-group btn-group-horizontal" data-toggle="buttons">
                                        <label class="btn active">
                                            <input type="radio" [checked]="user.active == '1'" formControlName='active' value="true" (change)="user.active=$event.target.value"><i class="fa fa-circle-o fa-1.75x"></i><i class="fa fa-dot-circle-o fa-1.75x"></i> <span>  Active</span>
                                        </label>
                                        <label class="btn active ">
                                            <input type="radio" [checked]="user.active == '0'" formControlName='active' value="false" (change)="user.active=$event.target.value"><i class="fa fa-circle-o fa-1.75x"></i><i class="fa fa-dot-circle-o fa-1.75x"></i><span> Disabled</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="firstName">First Name</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-user" ></i></span>
                                    <input [(ngModel)]="user.firstName" #firstName formControlName="firstName" type="text" name="firstName" class="form-control" id="firstName" placeholder="Required" [disabled]="firstName_disabled" focus>
                                </div>
                                <div *ngIf="form.controls.firstName.touched  && form.controls.firstName.errors">
                                    <div *ngIf="form.controls.firstName.errors.required" class="alert alert-danger">
                                        First name is required
                                    </div>
                                    <div *ngIf="form.controls.firstName.errors.outOfRange50" class="alert alert-danger">
                                        Cannot be greater than 50 characters.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="lasttName">Last Name</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input [(ngModel)]="user.lastName" #lastName formControlName="lastName" type="text" name="lastName" class="form-control" id="lastName" placeholder="Required" [disabled]="lastName_disabled" focus>
                                </div>
                                <div *ngIf="form.controls.lastName.touched  && form.controls.lastName.errors">
                                    <div *ngIf="form.controls.lastName.errors.required" class="alert alert-danger">
                                        Last name is required
                                    </div>
                                    <div *ngIf="form.controls.lastName.errors.outOfRange50" class="alert alert-danger">
                                        Cannot be greater than 50 characters.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon">@</span>
                                    <input [(ngModel)]="user.email" #email formControlName="email" type="text" name="email" class="form-control" id="email" placeholder="Required" [disabled]="email_disabled" focus>
                                </div>
                                <div *ngIf="form.controls.email.touched  && form.controls.email.errors">
                                    <div *ngIf="form.controls.email.errors.required" class="alert alert-danger">
                                        Email is required
                                    </div>
                                    <div *ngIf="form.controls.email.errors.outOfRange50" class="alert alert-danger">
                                        Email must not be greater than 50 characters.
                                    </div>
                                    <div *ngIf="form.controls.email.errors.containsSpace" class="alert alert-danger">
                                        Email cannot contain space
                                    </div>
                                    <div *ngIf="form.controls.email.errors.invalidEmailAddress" class="alert alert-danger">
                                        Invalid Email Address
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div *ngIf="action === 'add'">
                                    <label for="password">Password</label>
                                    <div class="input-group m-b-1">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input [(ngModel)]="user.password" #password formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="Required" [disabled]="password_disabled" focus>
                                    </div>
                                    <div *ngIf="form.controls.password.touched  && form.controls.password.errors">
                                        <div *ngIf="form.controls.password.errors.required" class="alert alert-danger">
                                            Password is required
                                        </div>
                                        <div *ngIf="form.controls.password.errors.containsSpace" class="alert alert-danger">
                                            Password cannot contain a space
                                        </div>
                                        <div *ngIf="form.controls.password.errors.invalidPassword" class="alert alert-danger">
                                            Must be between 6 to 10 characters containing One Uppercase, One Lowercase and One Digit
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="language">Language</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-list"></i></span>
                                    <dropdownlist *ngIf="dataLoaded"  (OutputButtonOnChange)="outputButtonOnChangeDropdownlist('language',$event)"
                                                  [InputObject]="'language'"
                                                  [InputDisplay]="true"
                                                  [InputAction]="action"
                                                  [InputList]=0
                                                  [InputEagerLoad]="true"
                                                  [InputDefault]=user.languageId
                                                  [InputPlaceholder]="'Select language'" #language>
                                        Loading languages...
                                    </dropdownlist>
                                </div>
                                <div *ngIf="languageErrorCode === 1000" class="alert alert-danger">
                                    Language is now required
                                </div>
                                <div *ngIf="languageErrorCode === 2000" class="alert alert-danger">
                                    Language must be selected
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="profile">Profile</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-list"></i></span>
                                    <dropdownlist *ngIf="dataLoaded" (OutputButtonOnChange)="outputButtonOnChangeDropdownlist('profile',$event)"
                                                  [InputObject]="'profile'"
                                                  [InputDisplay]="true"
                                                  [InputAction]="action"
                                                  [InputList]=0
                                                  [InputEagerLoad]="true"
                                                  [InputDefault]=user.profileId
                                                  [InputPlaceholder]="'Select profile'" #profile>
                                        Loading profiles...
                                    </dropdownlist>
                                </div>
                                <div *ngIf="profileErrorCode === 1000" class="alert alert-danger">
                                    Profile is now required
                                </div>
                                <div *ngIf="profileErrorCode === 2000" class="alert alert-danger">
                                    Profile must be selected
                                </div>
                            </div>		
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="phone">Phone</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-screen-smartphone"></i></span>
                                    <input [(ngModel)]="user.phone" #phone formControlName="phone" type="text" name="phone" class="form-control" id="phone" [disabled]="phone_disabled" focus>
                                </div>
                                <div *ngIf="form.controls.phone.touched  && form.controls.phone.errors">
                                    <div *ngIf="form.controls.phone.errors.outOfRange50" class="alert alert-danger">
                                        Last name must not be greater than 50 characters.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="enabledFrom">Enabled From</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                    <input [(ngModel)]="user.enabledFrom" #enabledFrom formControlName="enabledFrom" type="datetime-local" name="enabledFrom" class="form-control" id="enabledFrom" placeholder="Required" [disabled]="enabledFrom_disabled" focus>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="enabledTo">Enabled To</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                    <input [(ngModel)]="user.enabledTo" #enabledTo formControlName="enabledTo" type="datetime-local" name="enabledTo" class="form-control" id="enabledTo" placeholder="Required" [disabled]="enabledTo_disabled" focus>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                </accordion-group>


                <accordion-group heading="Address">

                    <fieldset [disabled]="(action === 'view' || action === 'delete')">

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="addressLine1">Address Line1</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-home"></i></span>
                                    <input [(ngModel)]="user.addressLine1" #addressLine1 formControlName="addressLine1" type="text" name="addressLine1" class="form-control" id="addressLine1" placeholder="" [disabled]="addressLine1_disabled" focus>
                                    <div *ngIf="form.controls.addressLine1.touched  && form.controls.addressLine1.errors">
                                        <div *ngIf="form.controls.addressLine1.errors.outOfRange50" class="alert alert-danger">
                                            Cannot be greater than 50 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="addressLine2">Address Line2</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-home"></i></span>
                                    <input [(ngModel)]="user.addressLine2" #addressLine2 formControlName="addressLine2" type="text" name="addressLine2" class="form-control" id="addressLine2" placeholder="" [disabled]="addressLine2_disabled" focus>
                                    <div *ngIf="form.controls.addressLine2.touched  && form.controls.addressLine2.errors">
                                        <div *ngIf="form.controls.addressLine2.errors.outOfRange50" class="alert alert-danger">
                                            Cannot be greater than 50 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="addressLine3">Address Line3</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-home"></i></span>
                                    <input [(ngModel)]="user.addressLine3" #addressLine3 formControlName="addressLine3" type="text" name="addressLine3" class="form-control" id="addressLine3" placeholder="" [disabled]="addressLine3_disabled" focus>
                                    <div *ngIf="form.controls.addressLine3.touched  && form.controls.addressLine3.errors">
                                        <div *ngIf="form.controls.addressLine3.errors.outOfRange50" class="alert alert-danger">
                                            Cannot be greater than 50 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="addressLine4">Address Line4</label>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-home"></i></span>
                                    <input [(ngModel)]="user.addressLine4" #addressLine4 formControlName="addressLine4" type="text" name="addressLine4" class="form-control" id="addressLine4" placeholder="" [disabled]="addressLine4_disabled" focus>
                                    <div *ngIf="form.controls.addressLine4.touched  && form.controls.addressLine4.errors">
                                        <div *ngIf="form.controls.addressLine4.errors.outOfRange50" class="alert alert-danger">
                                            Cannot be greater than 50 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                </accordion-group>

                <label></label>

                <div class="card-footer">
                    <div *ngIf="(action === 'add')">
                        <button [disabled]="!form.valid || userErrors" type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok-circle"></span> <i class="fa fa-dot-circle-o"></i> Create User
                        </button>
                        <button type="button" class="btn btn-primary"
                                (click)="cancel()">
                            <span class="glyphicon glyphicon-remove-circle"></span><i class="fa fa-ban"></i> Cancel
                        </button>
                        <spinner [visible]="dataIsProcessing"></spinner>
                    </div>
                    <div *ngIf="(action === 'edit')">
                        <button [disabled]="!form.valid || userErrors" type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok-circle"></span> <i class="fa fa-dot-circle-o"></i> Update User
                        </button>
                        <button type="button" class="btn btn-primary"
                                (click)="cancel()">
                            <span class="glyphicon glyphicon-remove-circle"></span><i class="fa fa-ban"></i > Cancel
                        </button>
                        <spinner [visible]="dataIsProcessing"></spinner>
                    </div>
                    <div *ngIf="(action === 'delete')">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-ok-circle"></span> <i class="fa fa-dot-circle-o"></i> Delete User
                        </button>
                        <button type="button" class="btn btn-primary"
                                (click)="cancel()">
                            <span class="glyphicon glyphicon-remove-circle"></span><i class="fa fa-ban"></i> Cancel
                        </button>
                        <spinner [visible]="dataIsProcessing"></spinner>
                    </div>
                    <div *ngIf="(action === 'view')">
                        <button type="button" class="btn btn-primary"
                                (click)="cancel()">
                            <span class="glyphicon glyphicon-remove-circle"></span><i class="fa fa-ban"></i> Cancel
                        </button>
                        <spinner [visible]="dataIsProcessing"></spinner>
                    </div>
                </div>

            </accordion>

        </form>
    </div>
</div>