    <!-- these two lines are required for Select Modal view-->
<div *ngIf="modal === 'true'" class="backdrop" [ngStyle]="{'display': modalDisplay}"></div>
<div class={{modalClass}} [ngStyle]="{'display': allDisplay}">
     
    <div class="container">
        <div class="myaccordion">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{title}}</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-body">
                                        <form class="form-inline">
                                            <a *ngIf="mode === 'workwith'" [routerLink]="['/components/users/add']" class="form-control btn btn-primary active btn-md"><span class="glyphicon glyphicon-user"></span> Add User </a>
                                            <dropdownlist (OutputButtonOnChange)="outputButtonOnChangeDropdownlist($event)"
                                                          [InputObject]="'profile'"
                                                          [InputDisplay]="true"
                                                          [InputAction]="action"
                                                          [InputList]=0
                                                          [InputEagerLoad]="true"
                                                          [InputDefault]=dropdown_UserComponentProfile_Default.id
                                                          [InputPlaceholder]="'Select Profile'" #profile>
                                                Loading profiles...
                                            </dropdownlist>
                                            <dropdownlist (OutputButtonOnChange)="outputButtonOnChangeDropdownlist($event)"
                                                          [InputObject]="'language'"
                                                          [InputDisplay]="true"
                                                          [InputAction]="action"
                                                          [InputList]=0
                                                          [InputEagerLoad]="true"
                                                          [InputDefault]=dropdown_UserComponentLanguage_Default.id
                                                          [InputPlaceholder]="'Select language'" #language   >
                                                Loading languages...
                                            </dropdownlist>
                                            <dropdownlist (OutputButtonOnChange)="outputButtonOnChangeDropdownlist($event)"
                                                          [InputObject]="'list'"
                                                          [InputDisplay]="true"
                                                          [InputAction]="action"
                                                          [InputList]=dropdown_UserComponentOrderById
                                                          [InputEagerLoad]="true"
                                                          [InputDefault]=dropdown_UserComponentOrderBy_Default.id
                                                          [InputPlaceholder]="'Order by'" #orderBy>
                                                Loading Order By...
                                            </dropdownlist>
                                            <dropdownlist (OutputButtonOnChange)="outputButtonOnChangeDropdownlist($event)"
                                                          [InputObject]="'list'"
                                                          [InputDisplay]="true"
                                                          [InputAction]="action"
                                                          [InputList]=dropdown_UserComponentOrderDirId
                                                          [InputEagerLoad]="true"
                                                          [InputDefault]=dropdown_UserComponentOrderDir_Default.id
                                                          [InputPlaceholder]="'sort'" #orderDir>
                                                Loading Sort...
                                            </dropdownlist>

                                            <input class="form-control" #criteria type="search" placeholder="Search criteria" #q />
                                            <button class="form-control btn btn-primary active btn-md" (click)="reloadUsers({  profile: profile.selectedItem, language: language.selectedItem, q: q.value, orderBy: orderBy.selectedItem, orderDir: orderDir.selectedItem})">
                                                <span class="glyphicon glyphicon-search"></span> Search
                                            </button>
                                            <button class="form-control btn btn-primary active btn-md" (click)="reLoadPage({  profile: dropdown_UserComponentProfile_Default, language: dropdown_UserComponentLanguage_Default, q: '' , orderBy: dropdown_UserComponentOrderBy_Default,  orderDir: dropdown_UserComponentOrderDir_Default})">
                                                <span class="glyphicon glyphicon-refresh"></span> Reset
                                            </button>
                                            <button class="form-control btn btn-primary active btn-md" data-dismiss="modal" (click)="close()">
                                                <span class="glyphicon glyphicon-off"></span> Close
                                            </button>
                                            <spinner [visible]="usersLoading"></spinner>
                                        </form>
                                        <pagination [items]="users" (page-changed)="onPageChanged($event)"></pagination>
                                    </div>
                                    <div class="table-responsive ">
                                        <table-simple (OutputButtonOnClick)="outputButtonOnChangeTableSimpleOnClick($event)"
                                                      [InputModal]="modal"
                                                      [InputPreButtons]="preButtons"
                                                      [InputLinks]="links"
                                                      [InputColumns]="columns"
                                                      [InputButtons]="buttons"
                                                      [InputData]="pagedUsers"
                                                      [InputIds]="userIds"
                                                      [InputSort]="sorting">
                                            Loading table...
                                        </table-simple>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
