    <span *ngIf="display == true">
        <select class="form-control" [ngModel]="defaultItem"  (focus)="loadList(list)" (blur)="onChange($event.target.value)"  (change)="onChange($event.target.value)" #item focus>
            <option ng-show="!model" value="">{{placeHolder}}</option>
            <option *ngFor="let item of items" value='{"id":{{item.id}},"parentListId":{{item.parentListId}},"name":"{{item.name}}","code":"{{item.code}}","ruleBookId":{{item.ruleBookId}}}'>{{item.name}}</option>
        </select>
    </span>