<div class="table-responsive">
    <div style="overflow:auto;height:50%;">
        <table class="table table-hover table-striped table-sortable">
            <thead>
                <tr>
                    <td style="width: 3%; font-weight: bold;" *ngFor="let preButton of InputPreButtons">
                        {{preButton.display}}
                    </td>
                    <th *ngFor="let link of InputLinks" style="width: 20%;" [class]="selectedClass(link.variable)" (click)="changeSorting(link.variable)">
                        {{link.display}}
                    </th>
                    <th *ngFor="let column of InputColumns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
                        {{column.display}}
                    </th>
                    <td style="width: 3%; font-weight: bold;" *ngFor="let button of InputButtons">
                        {{button.display}}
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let object of InputData | orderBy : convertSorting();let i = index; let lastInputData=last; let firstInputData=first">

                    <td *ngFor="let preButton of InputPreButtons">
                        <div *ngIf="preButton.action == 'select'">
                            <a class="btn btn-primary" (click)="onClick(object)">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                    </td>

                    <td *ngFor="let link of InputLinks">
                        <button type="button" class="btn btn-link"  (click)="onClick({ 'id': object.id, 'modal':  modal, 'router': link.router })">{{object[link.variable]}}</button>
                    </td>

                    <td *ngFor="let column of InputColumns">
                        {{object[column.variable] | format : column.filter}}
                    </td>

                    <td *ngFor="let button of InputButtons; ">
                        <div *ngIf="button.action == 'view'">
                            <div *ngIf="modal === 'true'">
                                <a class="btn btn-warning btn-sm fa fa-eye fa-lg m-t-0" (click)="onClick({ 'id': object.id, 'modal':  modal, 'router': button.router })">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </div>
                            <div *ngIf="modal != 'true'">
                                <a class="btn btn-warning btn-sm fa fa-eye fa-lg m-t-0" (click)="onClick({ 'id': object.id, 'modal':  modal, 'router': button.router })">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="button.action == 'edit'">
                            <a class="btn btn-success btn-sm fa fa-edit fa-lg m-t-0" (click)="onClick({ 'id': object.id, 'modal':  modal, 'router': button.router })">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </div>
                        <div *ngIf="button.action == 'delete'">
                            <button class="btn btn-danger btn-sm fa fa-remove fa-lg m-t-0" (click)="onClick({ 'id': object.id, 'modal':  modal, 'router': button.router })">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>

                </tr>

            </tbody>

        </table>

    </div>
</div>